/*
 * Based on the excellent CSS by Hatnix - https://github.com/hatniX/Owncast-tweaks/blob/main/Owncast_onscreen_chat_fade.css
 * Modified by Le fractal - https://framagit.org/owncast-things
 */

/*
 * CSS for displaying your Owncast chat onscreen in OBS
 * to be used with [Your_Owncast_URL]/embed/chat/readonly
 */

@keyframes fade {

    /* the actual animation - only the last 10% are the fade effect */
    0% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#messages-container {
    vertical-align: bottom;
    /* to ensure the messagees scroll up from the bottom */
}

.message {
    background: none !important;
    border-radius: 0;
    font-size: 14px;
    animation: fade 12s;
    /* the fade effect: overall display time 12 s */
    opacity: 0;
    /* to ensure the message is not displayed after the fade out */
    background-color: black !important;
}

.message-author {
    display: inline-block;
    margin-right: 0.5rem;
    filter: saturate(4);
    font-size: 150%;
}

.message-author::after {
    content: ":";
    font-weight: normal;
    color: rgb(223, 220, 215);
}

.message-author .flair {
display: inline;
margin-top: -5px;
margin-right: 0;
}

.message-text {
    display: inline;
    font-weight: bold;
    font-size: 150%
}

.federated-action {
    background: none !important;
    color: #fff !important;
    border-radius: 0;
    border-width: 0;
    animation: fade 12s;
    /* the fade effect: overall display time 12 s */
    opacity: 0;
    box-shadow: none;
}

.federated-action p {
    color: white;
}

.federated-action img,
.following-list-follower img {
    border-radius: 0;
    border-width: 0;
}

.message.border-indigo-700.text-l {
    display: none;
}

.message-user-joined {
    display: none;
    /* remove user-joined-alerts (don't call out lurkers!) */
}

.message-name-change {
    display: none;
    /* remove name-change-alerts (this is not really necessary) */
}
