/*
    Custom CSS for the owncast web frontend, obviously to try to make it more like Twitch.
    Do whatever you want with this, but mention is appreciated : "Le Fractal https://framagit.org/owncast-things".
*/
html,
body {
    background-color: #18181B !important;
}

header {
    background-color: #18181B;
}

header h1 {
    font-weight: bolder !important;
    opacity: 0.5;
    text-transform: initial;
}

#logo-container {
    display: none !important;
}

#stream-info {
    background-color: #0E0E10 !important;
    color: #ffffff !important;
    border-top: 1px solid #272728;
    font-family: inherit;
    border-bottom-color: #303032;
}

#stream-info span {
    font-size: 1rem !important;
}

#stream-summary {
    font-size: 110%;
    max-width: 500px;
    border: 1px solid #ff002a;
    padding: 1em;
    /* background-color: #ff002a; */
    color: floralwhite;
}

#user-content {
    background-color: #0E0E10;
    color: #999;
    padding-top: 0;
}

.tab-bar [role="tab"][aria-selected="true"] {
    color: var(--owncast-purple);
    background-color: transparent;
    border: 1px solid var(--owncast-purple);
    border-bottom: 0;
}

.tab-bar [role="tab"]:hover {
    color: white;
}

div.user-image {
    border: 4px solid #0E0E10;
}

#user-content>div.user-content {
    padding-top: 0;
}

#chat-container {
    background-color: #18181B;
    outline: 1px solid #303032;
    padding-bottom: 5px;
}

.message {
    background: none !important;
    border-radius: 0;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 5px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 14px;
}

.message-author {
    display: inline-block;
    margin-right: 0.5rem;
    filter: saturate(4);
}

.message-author .flair {
    display: inline;
    margin-top: -5px;
    margin-right: 0;
}

.message-author::after {
    content: ":";
    font-weight: 300;
    color: rgb(223, 220, 215);
}

.message-text {
    display: inline;
    border: 0;
    padding: 0;
}

.message-text code {
    font-family: monospace;
    background-color: black;
    padding: 0.25rem;
    font-size: 80%;
    white-space: nowrap;
    border-radius: 3px;
    color: burlywood;
}

.message-name-change div {
    color: gray;
}

.federated-action {
    background: rgb(30, 11, 97);
    background: radial-gradient(circle, rgb(0, 0, 0) 62%, rgb(24, 24, 27) 100%);
    color: #fff !important;
    border-radius: 0;
    border-width: 0;
}

.federated-action p {
    color: white;
}

.following-list-follower {
    background: rgb(30, 11, 97);
    background: radial-gradient(circle, rgb(0, 0, 0) 62%, #0E0E10 100%);
    color: #fff !important;
    border-radius: 0;
    border-width: 0;
}

.following-list-follower>div>p.text-gray-700 {
    color: white !important;
}

.federated-action img,
.following-list-follower img {
    border-radius: 0;
    border-width: 0;
}

#message-input-container {
    background-color: transparent;
    border-top: 0px !important;
}

#message-input-wrap {
    background-color: #000;
    border-color: #444;
}

#message-input {
    color: #eee;
}

.emoji-picker__search::placeholder {
    color: #000;
}

footer {
    background-color: #18181B;
    opacity: 1 !important;
    color: #ccc;
}